<template>
  <div :class="{ drawerOpen: drawerOpen}">
    <div v-if="!printView" class="header">
      <v-layout row wrap text-xs-center>
        <v-flex xs4 class="inputContainer align-left">
          <div v-if="textDropdown === false">
            <v-text-field
              v-model="inputText"
              label="Single card input"
              placeholder="Type a card name"
              solo
              hide-details
              @keydown.native.enter="submitName(inputText)"
            ></v-text-field>
            <v-icon v-if="inputText !== ''" class="closeIcon" @click="clearInput">close</v-icon>
          </div>
          <div v-else="" class="floatingTextContainer align-right">
            <v-textarea
              v-model="inputText"
              label="Card list input"
              placeholder="Type a list of card names"
              class="floatingTextArea"
              solo
              hide-details
              auto-grow
            ></v-textarea>
            <v-btn small @click="submitList(inputText)">Submit</v-btn>
          </div>
          <v-icon
            v-if="textDropdown"
            color="white"
            class="expandIcon"
            @click="toggleTextArea"
          >expand_less</v-icon>
          <v-icon
            v-else
            color="white"
            class="expandIcon"
            @click="toggleTextArea"
          >expand_more</v-icon>
          <v-icon v-if="inputText !== ''" class="closeIcon" @click="clearInput">close</v-icon>
        </v-flex>
        <v-flex xs4>Card sorter</v-flex>
        <v-flex xs4 class="align-right">
          <div class="change">
            <button type="button" class="change-sort" @click="togglePrint">Print View</button>
            <button type="button" class="change-sort" @click="sortType">Sort by Type</button>
            <button type="button" class="change-sort" @click="sortCMC">Sort by CMC</button>
            <button type="button" class="change-btn" @click="addColumn">+</button>
            <button
              type="button"
              class="change-btn"
              @click="removeColumn"
              :disabled="disableRemove"
            >
              &ndash;
            </button>
          </div>
        </v-flex>
      </v-layout>
    </div>
    <div v-if="printView">
      <v-flex xs12 class="align-left">
        <button type="button" class="change-sort print" @click="togglePrint">Back</button>
        <button type="button" class="change-sort print" @click="triggerPrint">Print</button>
        <span>Right click card to cycle prints</span>
      </v-flex>
    </div>
    <div class="cardContainer" :class="{ print: printView }">
      <!-- <v-layout v-if="!printView" row wrap text-xs-center> -->
      <v-layout row wrap text-xs-center>
        <v-flex v-for="(column, colIndex) in cardsView" :key="colIndex" class="column">
          <draggable
            class="dragArea"
            v-model="cards[colIndex]"
            :options="{group:'cards'}"
            :disabled="printView"
            @choose="onChoose"
            @start="onStart"
          >
            <transition-group class="dragArea-tg">
              <div v-for="(card, rowIndex) in column" :key="rowIndex" class="card">
                <img
                  :src="getCardImage(card)"
                  class="card-img"
                  @contextmenu.prevent="editCard(cards, colIndex, rowIndex)"
                />
              </div>
            </transition-group>
          </draggable>
          <span v-if="printView" class="card-backs">
            <span v-for="(card, rowIndex) in column" :key="rowIndex" class="card">
              <img
                v-if="isTransform(card)"
                :src="getCardImage(card, 'back')"
                class="card-img"
                @contextmenu.prevent="removeCard(cards, colIndex, rowIndex)"
              />
            </span>
          </span>
        </v-flex>
      </v-layout>
    </div>
    <div v-if="!printView" class="bottomDrawer">
      <button type="button" class="bottomDrawer-notch" @click="toggleDrawer"></button>
      <div class="bottomDrawer-container">
        <v-layout row wrap text-xs-center>
          <v-flex v-for="(column, colIndex) in sideboard" :key="colIndex" class="column">
            <draggable
              class="dragArea"
              v-model="sideboard[colIndex]"
              :options="{group:'cards'}"
              @choose="onChoose"
              @start="onStart"
            >
              <transition-group class="dragArea-tg">
                <div v-for="(card, rowIndex) in column" :key="card.id" class="card">
                  <img
                    :src="getCardImage(card)"
                    class="card-img"
                    @contextmenu.prevent="removeCard(sideboard, colIndex, rowIndex)"
                  />
                </div>
              </transition-group>
            </draggable>
          </v-flex>
        </v-layout>
      </div>
    </div>
    <v-snackbar
      :timeout="4000"
      :top="true"
      v-model="snackbar"
    >
      {{ message }}
      <v-btn flat color="lightgray" @click.native="snackbar = false">Close</v-btn>
    </v-snackbar>
  </div>
</template>

<script>
import Vue from 'vue';
import draggable from 'vuedraggable';
import cardMethods from '../mixins/card-methods';

export default {
  name: 'CardSorter',
  components: {
    draggable,
  },
  mixins: [
    cardMethods,
  ],
  data() {
    return {
      defaultRows: 7,
      inputText: '',
      textDropdown: false,
      drawerOpen: false,
      printView: false,
      cards: [],
      sideboard: [],
      types: [
        'Land',
        'Creature',
        'Artifact',
        'Enchantment',
        'Planeswalker',
        'Instant',
        'Sorcery',
      ],
    };
  },
  computed: {
    disableRemove() {
      return this.cards.length <= 4;
    },
    cardsView() {
      return this.printView ? [this.cards.flat(1)] : this.cards;
    },
  },
  methods: {
    onChoose(e) {
      this.clearIsActive();
      e.item.classList.add('isActive');
    },
    onStart(e) {
      e.item.classList.remove('isActive');
    },
    addColumn() {
      this.cards.push([]);
      Vue.nextTick(() => {
        this.setColumnWidth();
      });
    },
    removeColumn() {
      const index = this.cards.length - 1;
      this.cards[index - 1] = [...this.cards[index - 1], ...this.cards[index]];
      this.cards.pop();
    },
    setColumnWidth() {
      const cols = document.getElementsByClassName('column');
      if (cols.length > 0) {
        for (let i = 0; i < cols.length; i += 1) {
          cols[i].style.width = 0;
          cols[i].style.width = `${100 / this.cards.length}%`;
        }
      }
    },
    toggleDrawer() {
      this.drawerOpen = !this.drawerOpen;
    },
    addCard(card, column) {
      this.cards[column].push(card);
    },
    submitName(text) {
      if (!this.waitToCall) {
        this.getNamedCard(text).then((res) => {
          this.addCard(res, 0);
          this.clearInput();
        });
      } else {
        setTimeout(() => {
          this.submitName(text);
        }, this.apiDelay);
      }
    },
    getAllPrints(dataSet, colIndex, rowIndex) {
      const card = dataSet[colIndex][rowIndex];
      if (!this.waitToCall) {
        this.getURI(card.prints_search_uri).then((res) => {
          this.getImageSources(card, res.data);
        });
      } else {
        setTimeout(() => {
          this.getAllPrints(card.prints_search_uri);
        }, this.apiDelay);
      }
    },
    getImageSources(card, prints) {
      if (prints.length) {
        const cardIndex = prints.findIndex(i => i.id === card.id);
        const thisCard = card;
        thisCard.image_uris.art_index = cardIndex;
        thisCard.image_uris.border_crop_collection = this.getImagePathsFromType(prints, 'border_crop');
        thisCard.image_uris.png_collection = this.getImagePathsFromType(prints, 'png');
        this.rotateCardImage(thisCard);
      }
    },
    rotateCardImage(card) {
      const thisCard = card;
      thisCard.image_uris.art_index =
        (thisCard.image_uris.art_index + 1) >= card.image_uris.png_collection.length
          ? 0
          : card.image_uris.art_index + 1;
      thisCard.image_uris.border_crop =
        card.image_uris.border_crop_collection[thisCard.image_uris.art_index];
      thisCard.image_uris.png = card.image_uris.png_collection[thisCard.image_uris.art_index];
    },
    getImagePathsFromType(prints, type) {
      return prints.map(print => print.image_uris[type]);
    },
    submitList(text) {
      let list = text.replace(/\r\n/g, '\r').replace(/\n/g, '\r').split(/\r/);
      list = list.filter(item => (!!item && item !== ' '));
      const listObjArray = this.createListObjectArray(list);
      this.addCollection(listObjArray);
    },
    addCollection(listObjectArray) {
      this.getCardCollection(listObjectArray[0]).then((res) => {
        for (let i = 0; i < res.data.length; i += 1) {
          this.addCard(res.data[i], 0);
        }
        this.updateTextList(res.not_found);

        if (listObjectArray[1]) {
          setTimeout(() => {
            this.addCollection(listObjectArray.splice(1));
          }, this.apiDelay);
        } else if (this.inputText === '') {
          this.toggleTextArea();
        }
      });
    },
    updateTextList(textArr) {
      this.inputText = '';
      for (let i = 0; i < textArr.length; i += 1) {
        this.inputText += i === textArr.length - 1 ? `${textArr[i].name}` : `${textArr[i].name}\r\n`;
      }
      this.showSnack(`Not found: ${this.inputText.replace(/[\r]/g, ', ')}`);
    },
    createListObjectArray(list) {
      const listObjArray = [];
      let localList = [...list];
      let length = this.maxListSize;
      let listObj = {};

      while (localList.length) {
        length = localList.length > this.maxListSize ? this.maxListSize : localList.length;
        listObj = { identifiers: [] };
        for (let i = 0; i < length; i += 1) {
          listObj.identifiers.push({ name: localList[i].replace(/^(\d+\s{0,1}x?\s\s{0,1})/, '') });
        }
        listObjArray.push(listObj);
        localList = localList[length] ? [...localList.slice(length)] : [];
      }
      return listObjArray;
    },
    clearInput() {
      this.inputText = '';
    },
    editCard(dataSet, colIndex, rowIndex) {
      if (this.printView) {
        this.cycleArt(dataSet, colIndex, rowIndex);
      } else {
        this.removeCard(dataSet, colIndex, rowIndex);
      }
    },
    removeCard(dataSet, colIndex, rowIndex) {
      dataSet[colIndex].splice(rowIndex, 1);
    },
    cycleArt(dataSet, colIndex, rowIndex) {
      const card = dataSet[colIndex][rowIndex];
      if (card.image_uris.art_index >= 0) {
        this.rotateCardImage(card);
      } else {
        this.getAllPrints(dataSet, colIndex, rowIndex);
      }
    },
    toggleTextArea() {
      this.textDropdown = !this.textDropdown;
    },
    togglePrint() {
      this.printView = !this.printView;
      if (!this.printView) {
        Vue.nextTick(() => {
          this.setColumnWidth();
        });
      }
    },
    triggerPrint() {
      window.print();
    },
    sortCMC() {
      const sortArr = this.collapseArray();
      sortArr.sort((a, b) => a.cmc - b.cmc);
      this.clearArray();

      const offset = sortArr[0].cmc || 0;
      for (let i = 0; i < sortArr.length; i += 1) {
        const expandLength = (this.cards.length - 1) + offset;
        if (sortArr[i].cmc >= expandLength) {
          this.expandColumns(sortArr[i].cmc - expandLength);
        }
        this.cards[sortArr[i].cmc - offset].push(sortArr[i]);
      }

      this.sortAlpha();
      this.cards = Object.assign([], this.cards);
    },
    sortType() {
      let sortArr = this.collapseArray();
      this.clearArray();

      let slot = 0;
      for (let i = 0; i < this.types.length; i += 1) {
        const filteredCardsOfType = sortArr.filter(card => card.type_line.includes(this.types[i]));
        sortArr = sortArr.filter(card => !card.type_line.includes(this.types[i]));
        if (filteredCardsOfType && filteredCardsOfType.length) {
          if (!this.cards[slot]) { this.addColumn(); }
          this.cards[slot] = filteredCardsOfType;
          slot += 1;
        }
      }

      this.sortAlpha();
      this.cards = Object.assign([], this.cards);
    },
    sortAlpha() {
      for (let i = 0; i < this.cards.length; i += 1) {
        this.cards[i].sort((a, b) => {
          if (a.name < b.name) return -1;
          if (a.name > b.name) return 1;
          return 0;
        });
      }
    },
    collapseArray() {
      let sortArr = [];
      for (let i = 0; i < this.cards.length; i += 1) {
        sortArr = [...sortArr, ...this.cards[i]];
      }
      return sortArr;
    },
    clearArray() {
      for (let i = 0; i < this.cards.length; i += 1) {
        this.cards[i] = [];
      }
    },
    expandColumns(count) {
      for (let i = 1; i <= count; i += 1) {
        this.addColumn();
      }
    },
    getCardImage(card, face) {
      const thisCard = face === 'back' ? this.getCardBack(card) : this.getCardFront(card);
      return this.printView ? thisCard.image_uris.border_crop : thisCard.image_uris.png;
    },
    getCardFront(card) {
      return card.layout === 'transform' ? card.card_faces[0] : card;
    },
    getCardBack(card) {
      return card.layout === 'transform' ? card.card_faces[1] : card;
    },
    isTransform(card) {
      return card.layout === 'transform';
    },
    showSnack(text) {
      this.message = text;
      this.snackbar = true;
    },
  },
  created() {
    for (let i = 0; i < this.defaultRows; i += 1) {
      this.cards.push([]);
      this.sideboard.push([]);
    }
  },
  mounted() {
    this.setColumnWidth();
    this.submitName('The Gitrog Monster');
  },
};
</script>

<style>
  :root {
    --drawerOpenHeight: 45vh;
    --drawerClosedHeight: 0;
  }
  * {
    outline: none;
  }
  .align-left { text-align: left; }
  .align-center { text-align: center; }
  .align-right { text-align: right; }
  .cardContainer {
    margin: calc(25px + 63px) 20px 25px 20px;
    padding-bottom: var(--drawerClosedHeight);
  }
  .drawerOpen .cardContainer {
    padding-bottom: var(--drawerOpenHeight);
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 15px;
    background-color: #27323d;
    color: white;
    font-weight: 600;
    font-size: 24px;
    z-index: 400;
  }
  .inputContainer {
    position: relative;
  }
  .floatingTextContainer {
    position: absolute;
    width: calc(100% + 40px);
    max-height: calc(100vh - 20px);
    margin: 0 -20px -20px -20px;
    background-color: #27323d;
    border-left: 20px solid #27323d;
    border-right: 20px solid #27323d;
    border-bottom: 1px solid #181f27;
    overflow: auto;
  }
  .closeIcon {
    position: absolute;
    top: 4px;
    right: 4px;
  }
  .expandIcon {
    position: absolute;
    top: 4px;
    right: -30px;
  }
  .change {
    display: flex;
    justify-content: flex-end;
    justify-items: flex-start;
    align-content: flex-start;
  }
  .change-btn, .change-sort {
    padding: 0 10px;
    border: 1px solid white;
    font-size: 24px;
    background-color: #181f27;
    color: white;
  }
  .change-sort {
    font-size: 14px;
  }
  .change-btn + .change-btn,
  .change-sort + .change-sort {
    margin-left: 5px;
  }
  .change-sort + .change-btn {
    margin-left: 12px;
  }
  .change-btn:hover, .change-sort:hover {
    border-color: #fecc02;
  }
  .change-btn:active, .change-sort:active {
    border-color: #fecc02;
    color: #fecc02;
    background-color: rgba(42,42,42,0.98);
  }
  .change-btn:disabled, .change-sort:disabled {
    color: lightgray;
    background-color: rgba(60,60,60,0.98);
  }
  .dragArea {
    overflow: hidden;
    height: 100%;
    display: block;
  }
  .dragArea-tg {
    overflow: hidden;
    display: block;
    height: 100%;
    min-height: 150px;
  }
  .column {
    padding: 0 2px;
  }
  .colHeader {
    margin-bottom: 15px;
  }
  .bottomDrawer .colHeader {
    color: white;
  }
  .card {
    position: relative;
    margin-bottom: -127%;
  }
  .card:last-child  {
    margin-bottom: 0;
  }
  .card-img {
    max-width: 100%;
  }
  .card-img-back {
    display: none;
    max-width: 100%;
  }
  .isActive {
    position: relative;
    z-index: 1000;
  }
  .bottomDrawer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #181f27;
    overflow: visible;
    box-shadow: 0 -3px 5px 0 rgba(0,0,0,0.15);
  }
  .bottomDrawer-notch {
    position: absolute;
    top: -13px;
    left: calc(50vw - 13px);
    width: 26px;
    height: 26px;
    transform: rotate(45deg);
    background-color: #181f27;
    z-index: -1;
    box-shadow: -2px -2px 5px 0 rgba(0,0,0,0.15);
  }
  .bottomDrawer-notch:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    border: 8px solid transparent;
    border-top: 8px solid #435160;
    border-left: 8px solid #435160;
    transition: all 0.15s cubic-bezier(.66,.01,.56,1);
  }
  .bottomDrawer-notch:hover:before {
    border-top: 8px solid #fecc02;
    border-left: 8px solid #fecc02;
  }
  .bottomDrawer-notch:after {
    content: '';
    position: absolute;
    top: 7px;
    left: 7px;
    border: 6px solid transparent;
    border-top: 6px solid #181f27;
    border-left: 6px solid #181f27;
    transition: all 0.15s cubic-bezier(.66,.01,.56,1);
  }
  .bottomDrawer-container {
    margin-top: 7px;
    padding: 0 20px;
    overflow: scroll;
    height: var(--drawerClosedHeight);
    background-color: #27323d;
    transition: all 0.3s cubic-bezier(.66,.01,.56,1);
  }
  .drawerOpen .bottomDrawer-container {
    padding: 25px 20px;
    height: var(--drawerOpenHeight);
  }

  /* Print view */
  @media print {
    .change-sort {
      display: none;
    }
  }
  .change-sort.print {
    margin: 10px 10px 25px 10px;
  }
  .cardContainer.print {
    margin: 0;
    padding: 0;
  }
  .cardContainer.print .flex {
    width: 225mm !important;
  }
  .cardContainer.print .dragArea {
    height: auto;
  }
  .cardContainer.print .dragArea-tg,
  .cardContainer.print .card-backs {
    display: table;
    width: 190mm;
    line-height: 0;
    text-align: left;
  }
  .cardContainer.print .card {
    display: inline-block;
    width: 61mm;
    margin: 0;
    padding: 0;
    line-height: 0;
  }
  .cardContainer.print .card-backs .card:empty {
    display: none;
  }

  /* Vuetify Overrides */

  .v-text-field.v-text-field--solo .v-input__control {
    min-height: 0 !important;
  }
  .v-textarea.v-text-field--enclosed.v-text-field--single-line textarea {
    margin-top: 0 !important;
  }
</style>
