<template>
  <div id="app" @click="click">
    <router-view/>
  </div>
</template>

<script>
import cardMethods from './mixins/card-methods';

export default {
  name: 'App',
  mixins: [
    cardMethods,
  ],
  methods: {
    click(e) {
      if (!e.target.classList.contains('card-img')) {
        this.clearIsActive();
      }
    },
  },
};
</script>

<style src="./styles/vuetify.min.css"></style>

<style>
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
